doctype html
html
    head(lang="ja")
        meta(charset="UTF-8")
        title
        link(rel="styleSheet", href="./main.css")

    body
        h1 Hello! NWWWWWW.js!
        script(src="./app.js")
